
 {
  "checks": {

    "check-memory-percent": {

      "command": "/opt/sensu/plugins/check-memory-percent.rb -w 90 -c 98",

      "subscribers": [
        "linux"
      ],

      "interval": 60

    }
  }
}


